.output-data {
    margin-top: 50px;
}

#action {
    display: flex;
    vertical-align: middle;
    align-items: center;
    a {
        display: inline;
        color: black;
        padding: 0 10px 0 0 !important;
    }

    .btn {
        padding: 0 10px !important;
    }
}

#helpId {
    padding: 5px 0 !important;
}

.button-red {
    outline: none;
    border: none;
    background-color: $maroon;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    transition: 0.2s ease-in;
    border: 1px solid $maroon;

    &:hover {
        background-color: rgb(165, 97, 97);
        color: white;
        transition: 0.2s ease-out;
        border: 1px solid rgb(165, 97, 97);
    }
}

small {
    .btn {
        padding: 6px 0;
        font-size: 1em;
        color: $maroon;
        text-decoration: underline;
        outline: none;
    }
}

.alumni {
    margin: 50px 15%;
    display: flex;
    flex-wrap: wrap;

    .alumni-title {
        margin-bottom: 70px;
        flex-basis: 100%;
    }

    .alumni-left {
        width: 45%;
        padding-right: 40px;
        border-right: 1px solid rgba($color: #727272, $alpha: 0.3);
    }

    .alumni-right {
        margin-left: 40px;
        width: 45%;
    }
}

.pagination {
    justify-content: center;
}

.page-link {
    color: $maroon;
}

.page-item.active .page-link {
    background-color: $maroon;
    border-color: $maroon;
}
